## Food and Shop Score

- This notebook is to clean the Licence data and get food&shop score by neighborhood

### Step 1

- Load data and get columns name

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
business_df = pd.read_csv('../data/licensed_businesses_contractors_trades/business_licenses.csv')
business_df.shape

(7548, 30)

In [16]:
#获取数据集标签名称
business_df.columns
#打印标签
print(business_df.columns)

Index(['_id', 'license_number', 'license_type_name', 'naics_code',
       'business_name', 'license_state', 'initial_issue_date',
       'most_recent_issue_date', 'effective_date', 'expiration_date',
       'parcel_number', 'address', 'email_address', 'primary_phone_number',
       'insurance_expiration_date', 'number_of_buildings',
       'number_of_employees', 'number_of_large_signs', 'number_of_small_signs',
       'number_of_signs_total', 'number_of_handicap_spaces',
       'number_of_nonleased_pub_spaces', 'number_of_revgen_spaces',
       'total_number_of_spaces', 'number_of_jukeboxes',
       'number_of_nongambling_machines', 'number_of_rooms', 'number_of_seats',
       'number_of_pool_tables', 'number_of_units'],
      dtype='object')

# Step 2

- Get active business
- Get business type that fits `Food & Shop`
- Get business with name 'restaurant', 'cafe', 'coffee', 'bakery', 'grocery', 'market', 'bookstore'

In [17]:
active_df = business_df[business_df['license_state'] == 'Active']
active_df.shape

(725, 30)

In [18]:
# 获取business类型list
business_type_list = active_df['license_type_name'].unique()
# 统计business类型数量
business_type_count = active_df['license_type_name'].value_counts()
# 打印business类型数量
print(business_type_count)

Rental Registration        216
Parking Lot                184
Child Care Registration    116
Limited Towing              84
Stationary Vendor           43
Peddler                     34
Mobile Vehicle Vendor       27
Secondhand Dealer           21
Name: license_type_name, dtype: int64

In [24]:
keywords = [
    'restaurant', 'cafe', 'coffee', 'bakery', 'grocery', 'market', 'bookstore',
    'deli', 'eatery', 'bistro', 'bar', 'kitchen', 'grill', 'noodle', 'ramen',
    'bbq', 'burger', 'pizza', 'taco', 'pita', 'juice', 'tea', 'donut',
    'panera', 'starbucks', 'chipotle', 'trader joe', 'whole foods'
]
# filtered_df = active_df[active_df['business_name'].str.contains('|'.join(keywords), case=False, na=False)]
# filtered_df.shape
filtered_df = business_df[business_df['business_name'].str.contains('|'.join(keywords), case=False, na=False)]
filtered_df.shape
# 统计business类型数量
business_type_count = filtered_df['license_type_name'].value_counts()
# 打印business类型数量
print(business_type_count)
# 打印前10个business的名称和类型
print(filtered_df[['business_name', 'license_type_name']].head(20))

Sign Maintenance Certification    198
Peddler                            39
Amusement Producer                 38
Stationary Vendor                  24
Mobile Vehicle Vendor              21
Limited Towing                     20
Mechanical Device                  14
Parking Lot                         9
Child Care Registration             5
Secondhand Dealer                   4
Trade Fair                          2
Ticket Reseller                     1
Amusement Place                     1
Name: license_type_name, dtype: int64
                                         business_name  \
40                                   SUBWAY RESTAURANT
59                   MILKY WAY DAIRY & VEG. RESTAURANT
84   PREMIER MARKETING INNOVATIONS INC FOR VERIZON ...
87                                         BURGER-KING
153                                     MIRIAM LEBARON
173                    SWEET TIME CAFE & GENERAL STORE
175                                           SPIN BAR
189                               GAETANO'S RESTAURANT
252                                    ANN'S MARKET #2
257                                    FIORIS PIZZARIA
327                                  CONICELLA'S PIZZA
328                        SOUTHSIDE STEAKS RESTAURANT
372                                     PIZZA CARE LLC
375                SUNOCO PARTNERS MARKETING & TERM LP
377                                           PITALAND
418                                   BARBARA GROSSMAN
422          RENEWAL BY ANDERSEN/MARKETING SALES LEADS
436                                PEANUTZ BAR & GRILL
460                                       RUSTY BARREL
517                                  Lemont Restaurant

                  license_type_name
40   Sign Maintenance Certification
59   Sign Maintenance Certification
84                          Peddler
87                   Limited Towing
153                         Peddler
173  Sign Maintenance Certification
175  Sign Maintenance Certification
189  Sign Maintenance Certification
252  Sign Maintenance Certification
257  Sign Maintenance Certification
327  Sign Maintenance Certification
328  Sign Maintenance Certification
372  Sign Maintenance Certification
375  Sign Maintenance Certification
377  Sign Maintenance Certification
418                      Trade Fair
422                         Peddler
436               Mechanical Device
460               Mechanical Device
517  Sign Maintenance Certification

### Step 3

- Get business with address

In [28]:
# 去除address为空值的行
filtered_df = filtered_df[filtered_df['address'].notna()]
# 打印前10个business的名称和地址
print(filtered_df[['business_name', 'address']].head(5))

                         business_name  \
59   MILKY WAY DAIRY & VEG. RESTAURANT
87                         BURGER-KING
173    SWEET TIME CAFE & GENERAL STORE
189               GAETANO'S RESTAURANT
252                    ANN'S MARKET #2

                                        address
59       2120 MURRAY AVE, Pittsburgh, PA 15217-
87   2900 BROWNSVILLE RD, Pittsburgh, PA 15227-
173        501 E OHIO ST, Pittsburgh, PA 15212-
189   1601 BANKSVILLE RD, Pittsburgh, PA 15216-
252     2316 WEBSTER AVE, Pittsburgh, PA 15219-

In [30]:
# 获取address末尾的数字zip code
# zip code 为 address 最末尾的‘-’前的5位数字
filtered_df['address'] = filtered_df['address'].str.rstrip('- ')
# 提取zip code并添加到filtered_df中
filtered_df['zip_code'] = filtered_df['address'].str.extract(r'(\d{5})$')
# 打印前10个business的名称和zip code
print(filtered_df[['business_name', 'zip_code']].head(10))

                           business_name zip_code
59     MILKY WAY DAIRY & VEG. RESTAURANT    15217
87                           BURGER-KING    15227
173      SWEET TIME CAFE & GENERAL STORE    15212
189                 GAETANO'S RESTAURANT    15216
252                      ANN'S MARKET #2    15219
257                      FIORIS PIZZARIA    15226
327                    CONICELLA'S PIZZA    15207
328          SOUTHSIDE STEAKS RESTAURANT    15203
372                       PIZZA CARE LLC    15219
375  SUNOCO PARTNERS MARKETING & TERM LP    15201

### Step 4
- Output the data to csv file

In [31]:
# 保存数据仅包括business_name，address和zip code
filtered_df[['business_name', 'address', 'zip_code']].to_csv('../data_cleaned/food_and_shop.csv', index=False)